$primaryColor: #ffce4e;
$secondaryColor: #f5fbf2;
$blackText: #000000;
$softBlackText: #16091b;
$grayTextBanner: #9b9e9a;
$softGrayText: #594d5e;
$mainPurple: #8613a5;
$mainRed: #e03054;
$bgColor: #1c121f;
$bgColorOverlay: #251928;
$primaryFont: "Oxanium", cursive;
$secondaryFont: "Work Sans", sans-serif;
$large: 1280px;
$medium: 960px;
$small: 680px;
$verySmall: 320px;
